//color widget btn
$colorWidget: #85464f;

//color frame
$colorFrame1: #05464f;
$colorFrame2: #25464f;
$colorFrame3: #45464f;
$colorFrame4: #65464f;

//color fonts
$primary: #f5f5f5;
$secondary: #a39e91;
$hover: #fffdfc;


//Scaffolding------------------------------------------------------------------
//primer pklano de todos los textos
//color de enlaces y estilo
//fondo de todas las pantallas por si no se cargan
$link-decoration: underline;
$link-hover: none;