@import '../../../sass/variables.scss';
@import '../../../sass/base.scss';

.header {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 1.1rem;

    background-color: $colorFrame1;
    height: 65px;

    display: flex;
    flex-direction: row;

    &__details {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 80vw;

        &-logo {
            //display: hidden;
            width: 70px;
            height: 50%;
            vertical-align: middle;
            margin: 0 5px;
        }
        &-title {
            color: $primary;
            text-align: center;
            padding: 0 2px;
        }

    }

    &__links {
        display: flex;
        flex-direction: column;
        justify-content: center;

        text-decoration: $link-hover;
        color: $primary;

        font-size: 0.8rem;

        padding: 0 0 0 8px;

        &-login {
            color: $primary;
            margin-bottom: 15px;
        }
        &-login:hover {
            color: $colorWidget;
        }
        &-signup {
            color: $primary;
        }
        &-signup:hover {
            color: $colorWidget;
        }

    }

}


//desktop styles
@media screen and (min-width: 1024px) {
    .header {
        font-family: 'Roboto';
        font-weight: 900;
        font-size: 2rem;
    
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    
        background-color: $colorFrame1;
        height: 55px;

        &__details {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            height: 100%;

            &-logo {
                //background-image: url(/src/assets/img/nevintec.png);
                width: 100px;
                height: 80%;
                vertical-align: middle;
                margin: 0 25px;
            }
            &-title {
                color: $primary;
            }

        }
    
        &__links {
            display: inline-block;
            padding-left: 70px;
            text-decoration: $link-hover;
            color: $primary;

            font-size: 1.3rem;

            &-login {
                padding-right: 25px;
                color: $primary;
            }
            &-login:hover {
                color: $colorWidget;
            }
            &-signup {
                padding-right: 25px;
                color: $primary;
            }
            &-signup:hover {
                color: $colorWidget;
            }
    
        }
    
    }

}