<mat-menu #appMenu="matMenu">
    <button mat-menu-item mat-flat-button [matMenuTriggerFor]="appLayers">Layers</button>
    <button mat-menu-item mat-flat-button [matMenuTriggerFor]="appTools">Toolskit</button>
</mat-menu>

<button mat-flat-button [matMenuTriggerFor]="appMenu" class="menu">Menu</button>

<mat-menu #appLayers>
    <button mat-menu-item (click)="switchToWatercolor()">Watercolor</button>
    <button mat-menu-item (click)="switchToTerrain()">Terrain</button>
    <button mat-menu-item (click)="switchToOsm()">OSM</button>
    <button mat-menu-item (click)="switchToTopoMap()">XYZ</button>
    <button mat-menu-item (click)="switchToVectorTileHillShade()">MapTiler Hill</button>
    <button mat-menu-item (click)="switchToVectorTileArcGIS()">pbf ArcGIS</button>
    <button mat-menu-item (click)="switchToVectorMapTilerEmbebed()">MapTiler json embebed</button>
    <button mat-menu-item (click)="switchToGeoserverWFS()">WMS</button>
</mat-menu>
<mat-menu #appTools>
    <button mat-menu-item>Draw</button>
    <button mat-menu-item>Measure</button>
    <button mat-menu-item>Add a marker</button>
    <button mat-menu-item>Print</button>
</mat-menu>