<mat-menu #appMenu="matMenu">
    <button mat-menu-item mat-flat-button [matMenuTriggerFor]="appLayers">Layers</button>
    <button mat-menu-item mat-flat-button [matMenuTriggerFor]="appTools">Toolskit</button>
</mat-menu>

<button mat-flat-button [matMenuTriggerFor]="appMenu" class="menu">Menu</button>

<mat-menu #appLayers>
    <button mat-menu-item (click)="switchToOsm()">OSM</button>
    <button mat-menu-item (click)="switchToVectorTileArcGIS()">pbf ArcGIS</button>
    <button mat-menu-item (click)="switchToVectorMapTilerEmbebed()">MapTiler json embebed</button>
    <button mat-menu-item (click)="switchToGeoserverManzanasVectorTile()">Manzanas OpenLayers styled</button>
    <button mat-menu-item (click)="switchToCallejeroBurgosJsonStyle()">Callejero-burgos json style</button>
    <button mat-menu-item (click)="switchToGeoformasMapboxStyle()">Geoformas json style</button>
    <button mat-menu-item (click)="switchToGeoformasGeoStylerOL()">Geoformas geostyler-ol</button>
</mat-menu>
<mat-menu #appTools>
    <button mat-menu-item>Draw</button>
    <button mat-menu-item>Measure</button>
    <button mat-menu-item>Add a marker</button>
    <button mat-menu-item>Print</button>
</mat-menu>